BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

IOBUF PORT "LEDS[3]" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "LEDS[3]" SITE "J3";
IOBUF PORT "LEDS[2]" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "LEDS[2]" SITE "G4";
IOBUF PORT "LEDS[1]" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "LEDS[1]" SITE "H2";
IOBUF PORT "LEDS[0]" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "LEDS[0]" SITE "F4";

IOBUF PORT "VCCINT_EN" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCCINT_EN" SITE "E4";

IOBUF PORT "VCCAUX_EN" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCCAUX_EN" SITE "U12";
IOBUF PORT "VCCAUX_PG" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCCAUX_PG" SITE "Y16";

IOBUF PORT "VCCAUXIO_EN" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCCAUXIO_EN" SITE "T11";
IOBUF PORT "VCCAUXIO_PG" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCCAUXIO_PG" SITE "V16";

IOBUF PORT "VCC_MGTA_EN" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCC_MGTA_EN" SITE "Y13";
IOBUF PORT "VCC_MGTA_PG" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCC_MGTA_PG" SITE "V14";

IOBUF PORT "VTT_MGTA_EN" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VTT_MGTA_EN" SITE "V12";
IOBUF PORT "VTT_MGTA_PG" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VTT_MGTA_PG" SITE "W14";

IOBUF PORT "VCCO_34_EN" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCCO_34_EN" SITE "R5";
IOBUF PORT "VCCO_34_PG" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCCO_34_PG" SITE "P1";

IOBUF PORT "VCCO_32_EN" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCCO_32_EN" SITE "T4";
IOBUF PORT "VCCO_32_PG" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCCO_32_PG" SITE "P2";

IOBUF PORT "VCCO_16_13_EN" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCCO_16_13_EN" SITE "T3";
IOBUF PORT "VCCO_16_13_PG" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCCO_16_13_PG" SITE "M5";

IOBUF PORT "VCCO_12_EN" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCCO_12_EN" SITE "H4";
IOBUF PORT "VCCO_12_PG" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF;
LOCATE COMP "VCCO_12_PG" SITE "J4";